<div class="container">
  <div class="row content">
    <div class="col-xs-2 sidenav">
      <h1><i class="fa-solid fa-users"></i></h1>
      <!-- <p><input type="text" id="username" name="username" [(ngModel)]="username"></p>
      <h1> {{username}}</h1> -->
      <h4>Main-menu</h4>
      <ul style="list-style-type:none">
        <li><a href="Calculator"><i class='bx bx-radio-circle' style='color:#FAFAFA'></i> Calculator</a></li>
        <li><a href="data"><i class='bx bx-radio-circle' style='color:#FAFAFA'></i> Table Data</a></li>
        <li><a href="form"><i class='bx bx-radio-circle' style='color:#FAFAFA'></i> Update Form</a></li>
      </ul>
    </div>
  </div>
</div>