
<div class="form-control">
    <form [formGroup]="form">
        <h1>Update Form</h1>

        <label for="id"></label>
        <input type="text" formControlName="id" placeholder="your id" [(ngModel)]="id"><br><br>

        <label for="fullname"></label>
        <input type="text" formControlName="fullname" placeholder="your fullname"><br><br>

        <label for="emailid"></label>
        <input type="text" formControlName="emailid" placeholder="your Emailid"><br><br>

        <!-- <label for="Gender"></label> -->
        <label for="gender" class="checkbox-inline">
           <input type="checkbox" formControlName="gender" value="">Male</label>
          
        <label class="checkbox-inline">
            <input type="checkbox" formControlName="gender" value="">Female</label>
         
        <label class="checkbox-inline">
            <input type="checkbox" formControlName="gender" value="">Others</label>
       
        <!-- <input type="text" formControlName="Gender" placeholder="your Gender"> -->
        <br><br>

        <label for="birthday"></label>
        <input type="text" formControlName="birthday" placeholder="your Birthday"><br><br>

        <label for="alternateNo"></label>
        <input type="text" formControlName="alternateNo" placeholder="your Alternate No"><br><br>

        <button (click)="onSubmit()">submit</button> <button (click)="onDelete()">Delete</button>

    </form>
</div>
